{{ define "novel/_script_tag.tmpl" }}
<div id="root"></div>
<script type="text/javascript">
	window.config = {
		"csrf": "{{ ._csrf }}",
	};
</script>
<script type="text/javascript" src="/js/main.js"></script>
<!--
<script type="text/javascript" src="/js/main.min.js"></script>
-->
{{ end }}
