{{ define "novel/show.tmpl" }}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>蓮メリメーカー</title>
</head>
<body>
	<div id="debug"></div>
	<div id="canvasdiv">
		<canvas id="mainCanvas" width="640" height="480"></canvas>
	</div>
	<hr />
	{{ range $emoji := .Emojis }}
		<img src="/image/emoji/{{$emoji.FileName}}" width="24" height="24">{{$emoji.Count}}
	{{ end }}
	<hr />
	{{if .IsOwner }}
		<a href="/novel/edit/{{.Id}}">ノベル編集</a><br />
	{{else}}
		{{ range $key, $value := .EmojiMap }}
			<form action="/novel/emoji/{{$.Id}}/add/{{$key}}" method="post" style="display:inline;">
			<input type="image" src="/image/emoji/{{$value}}" value="" name="submit" width="24" height="24" />
			</form>
		{{ end }}
	{{end}}

	{{template "novel/_script_tag.tmpl" .}}
</body>
</html>
{{ end }}
