{{ define "content" }}
<style>
.mdl-card__media > img {
	width: 100%;
}
.mdl-card__media {
    margin: 0;
}
.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
</style>
<div class="content-grid mdl-grid">
<div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
  <div class="mdl-card__title" style="background: #3F51B5;">
    <h1 class="mdl-card__title-text mdl-color-text--white">{{.Name}}の作品一覧</h1>
  </div>
  <div class="mdl-card__supporting-text">
	<div class="content-grid mdl-grid">

	{{ range .Novels }}
	<div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--2dp">
	  <figure class="mdl-card__media">
		<img src="http://design-ec.com/d/e_others_48/l_e_others_480.png" alt="" />
	  </figure>
	  <div class="mdl-card__title">
		<h1 class="mdl-card__title-text">{{.Title}}</h1>
	  </div>
	  <div class="mdl-card__supporting-text">
		<p>
		{{.Description}}
		<div class="mdl-layout-spacer"></div>
		投稿者:<a href="/user/show/{{.User.ID}}" class="mdl-typography--text-right">{{.User.DispName}}</a><br />
		</p>
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
		<div class="mdl-layout-spacer"></div>
		{{ if eq .User.ID .UserID }}
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/novel/edit/{{.ID}}">編集&nbsp;<i class="material-icons">build</i></a>
		{{ else }}
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/novel/show/{{.ID}}">読む&nbsp;<i class="material-icons">play_circle_outline</i></a>
		{{ end }}
	  </div>
	</div>
	{{ end }}
	</div>
  </div>
</div>
</div>
<p class="mdl-typography--text-center">
{{.Pagination}}
</p>
{{ end }}
