{{ define "user/show.tmpl" }}
<html><h1>
	{{ .title }}
</h1>
<p>
	ID: {{.ID}}<br />
	Name: {{.Name}}<br />
	<hr />
	{{ range .Novels }}
		タイトル:{{.Title}}<br />
		説明:{{.Description}}<br />
		投稿者:{{.User.DispName}}<br />
		<a href="/novel/show/{{.ID}}">ノベル詳細</a><br />
		<hr />
	{{ end }}
	{{.Pagination}}
</p>
</html>
{{ end }}
