{{ define "root/about.tmpl" }}
<html><h1>
		蓮メリメーカー
</h1>
<pre>
<b>「蓮メリメーカー」はビジュアルノベルを簡単に製作し、公開するためのプラットフォームです。</b>

ビジュアルノベルを製作するためのツールはこの世にたくさんありますが、ツールやスクリプトの習熟が難しかったり、
時間がかかったり。そしてツールを使った作品を作るのにも時間がかかります。

ビジュアルノベルはもっと手軽に作られるべきだと思います。「蓮メリメーカー」は、
Web上での簡単な操作と、あらかじめ素材を用意することで、直感的な操作で、
時間をかけずに、ビジュアルノベルの製作を可能にしました。

SS(ショートストーリー)と違い、ビジュアルノベルは、ビジュアル／サウンド／ストーリーを
利用して、より多彩な表現で作品を作ることができます。

より多くの人が、彼女たちの物語を紡ぎ、そしてより多くの人が、それを享受できますように。
</pre>
<hr />
<div>
	<b>素材クレジット</b><br />
	蓮子とメリーの立ち絵： http://seiga.nicovideo.jp/seiga/im3189645<br />
	背景： https://commons.nicovideo.jp/user/92902<br />
	BGM:<br />
	https://commons.nicovideo.jp/material/nc20349<br />
	https://commons.nicovideo.jp/material/nc13447<br />
	https://commons.nicovideo.jp/material/nc22928<br />
	https://commons.nicovideo.jp/material/nc32144<br />
	https://commons.nicovideo.jp/material/nc76949<br />
	https://commons.nicovideo.jp/material/nc41740<br />
	https://commons.nicovideo.jp/material/nc38444<br />
</div>

</html>
{{ end }}
