{{ define "content" }}
<div class="content-grid mdl-grid">
	<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
	<div class="mdl-card mdl-cell mdl-cell--8-col mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h1 class="mdl-card__title-text">
			「蓮メリメーカー」はビジュアルノベルを簡単に製作し、<br />公開するためのプラットフォームです。
			</h1>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--black">
			<p>
			ビジュアルノベルを製作するためのツールはこの世にたくさんありますが、ツールやスクリプトの習熟が難しかったり、時間がかかったり。そしてツールを使った作品を作るのにも時間がかかります。
			</p>

			<p>
			ビジュアルノベルはもっと手軽に作られるべきだと思います。「蓮メリメーカー」は、Web上での簡単な操作と、あらかじめ素材を用意することで、直感的な操作で、時間をかけずに、ビジュアルノベルの製作を可能にしました。
			</p>

			<p>
			SS(ショートストーリー)と違い、ビジュアルノベルは、ビジュアル／サウンド／ストーリーを利用して、より多彩な表現で作品を作ることができます。
			</p>
			<p>
			より多くの人が、彼女たちの物語を紡ぎ、そしてより多くの人が、それを享受できますように。
			</p>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>

	<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
	<div class="mdl-card mdl-cell mdl-cell--8-col mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h1 class="mdl-card__title-text">
				素材クレジット
			</h1>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--black">
			<p>
				<b>蓮子とメリーの立ち絵</b><br />
				http://seiga.nicovideo.jp/seiga/im3189645<br />
			</p>
			<p>
				<b>背景</b><br />
				https://commons.nicovideo.jp/user/92902<br />
			</p>
			<p>
				<b>BGM</b><br />
				https://commons.nicovideo.jp/material/nc20349<br />
				https://commons.nicovideo.jp/material/nc13447<br />
				https://commons.nicovideo.jp/material/nc22928<br />
				https://commons.nicovideo.jp/material/nc32144<br />
				https://commons.nicovideo.jp/material/nc76949<br />
				https://commons.nicovideo.jp/material/nc41740<br />
				https://commons.nicovideo.jp/material/nc38444<br />
			</p>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
</div>
{{ end }}
