{{ define "content" }}
{{ range .novels }}
	タイトル:{{.Title}}<br />
	説明:{{.Description}}<br />
	投稿者:<a href="/user/show/{{.User.ID}}">{{.User.DispName}}</a><br />
	<a href="/novel/show/{{.ID}}">ノベル詳細</a><br />
	<hr />
{{ end }}
{{.pagination}}
{{ end }}
