{{ define "root/index.tmpl" }}
<html><h1>
		蓮メリメーカー
</h1>
<p>
<a href="/about">アバウト</a><br />
<hr />
{{ if .isLogin }}
	<a href="/logout">ログアウト</a><br />
{{ else }}
	<a href="/twitter/auth">ログイン</a><br />
{{ end }}
<hr />
<a href="/user/show/1">ユーザー詳細</a><br />
<a href="/user/show/me">自分のプロフィール</a><br />
<hr />
<a href="/novel/new">ノベル新規作成</a><br />
<hr />

{{ range .novels }}
	タイトル:<br />
	説明:<br />
	投稿者:<br />
	<a href="/novel/show/{{.ID}}">ノベル詳細</a><br />
	<hr />
{{ end }}
</p>
</html>
{{ end }}
