{{ define "content" }}
<div class="content-grid mdl-grid">
<div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
  <div class="mdl-card__title" style="background: #3F51B5;">
    <h1 class="mdl-card__title-text mdl-color-text--white">404 Not Found</h1>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--black">
	  ページが存在しませんでした
  </div>
</div>
</div>
{{ end }}
